@font-face {
    font-family: MyriadBold; 
    src: url(./MyriadPro-Bold.otf);
}
*{
    font-family: MyriadBold;
    color: white;
}
body{
    -webkit-user-select: none;/* Electron, desativa a Selecão de Texto parao arrasto da Janela */
    -webkit-app-region: drag; /* Electron, possibilita Arrasto da Janela */
    background-color: transparent;
    align-items: center;
    display: flex;
    justify-content: center
}
.painel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2%;
    width: 300px;
    height: 250px;
    background: linear-gradient(130deg, rgba(153,0,208,1) 0%, rgba(51,0,204,1) 100%);
}
.hora-atual, .cronometro, .total, p{font-family: MyriadBold;}
.hora-atual, p{
    color: white;
    font-size: 2em;
    text-align: center;
}
.hora-atual{
    height: 10%;
}
.cronometro{
    color: white;
    text-align: center;
    font-size: 3.5em;
}
.total{
    color: #ff6600;
    text-align: center;
    font-size: 3.5em;
}
.botoes{
    display: flex;
    justify-content: space-between;
    width: 120px;
}
.botao, .closeApp, .botaoFixarJanela{
    -webkit-app-region: no-drag; /* Electron, desabilita Arrasto da Janela nos botões  */
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.5em;
    height: 3.5em;
    background-image: linear-gradient(45deg, #ff6600 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    transition: background 200ms ease-in-out;
}
.botao:hover, .closeApp:hover, .botaoFixarJanela:hover{
    background-position: 0;
}
.botao:active, .closeApp:active, .botaoFixarJanela:active{
    background-image: linear-gradient(45deg, #ffc49c 50%, transparent 50%)
}
.closeApp, .botaoFixarJanela{
    border: none;
    position: fixed;
    top: 0;
}
.closeApp{
    right: 0;
}
.botaoFixarJanela{ /* Botão de Fixar a Janela sobreposta */
    left: 0;
    display: none;
}

/* ==========Relatório========== */

.relatorio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2%;
    width: 300px;
    height: 250px;
    background: linear-gradient(130deg, rgba(153,0,208,1) 0%, rgba(51,0,204,1) 100%);
}
.tempo-percorrido{
    color: #ff6600;
}
.valor{
    color: #ff6600;
}
.esconder{
    display: none;
}

/* ==========Tela de Confirmação========== */

.confirm-screen{
    width: 200px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(130deg, rgba(255,102,0,1) 0%, rgba(153,0,0,1) 100%);
}
.confirm-screen p{
    font-size: 1.5em;
}
.botao-sair{
    background-image: linear-gradient(45deg, rgba(51,0,204,1) 50%, transparent 50%);
}
